node_modules/
dist/
.env
*.log

# Prisma
backend/node_modules/

# OPA build artifacts
policies/bundle.tar.gz
policies/out/

# Frontend
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
